*, *::after, *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


li {
     list-style: none;
}

a {
     text-decoration: none;
}

.user-select-reject {
     user-select: none;
}

.text-elipsis {
     white-space: nowrap;
     text-overflow: ellipsis;
}

.card-shadow {
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}