*, *::after, *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


li {
     list-style: none;
}

a {
     text-decoration: none;
}

.user-select-reject {
     user-select: none;
}