.search-main-container {}

.search-container {
     z-index: 100;
}

.search-overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: .7;
     z-index: 99;
     cursor: pointer;
     background: rgb(71, 71, 71);
}

.search-container+.search-overlay {
     background: none;
}

.search-input {
     width: 100%;
     margin: auto;
     z-index: 100;
     translate: 0 100px;
     position: absolute;
}

.search-input input {
     border: none;
     font-size: 1.2em;
     color: rgb(233, 233, 233);
     outline: none;
     padding: 7px 0;
}

.search-input input {
     font-size: 1rem;
     letter-spacing: 1px;
}

.search-input input::placeholder {
     color: rgb(233, 233, 233);
}

.search-list {
     display: block;
     width: 100%;
}