#main_verify{
    width: 88%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    /* padding: 50px; */
    /* margin: 10px; */
}

#img1verify{
    width: 20%;
    margin: auto;
}
#mail{
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}