.post {}


.post-header-image {
     width: 40px;
     height: 40px;
     max-width: 40px;
     max-height: 40px;
     border-radius: 50%;
     /* overflow: hidden; */
     background-color: #fff;
     cursor: pointer;
}

.post-header-image>img {
     border-radius: 50%;
     object-fit: cover;
     object-position: center;
}

.post-header-details>p {
     width: 180px;
     overflow: hidden;
     line-height: 1.2;
     white-space: nowrap;
     text-overflow: ellipsis;
}

.post-header-details>p:nth-child(1) {
     font-weight: 600;
     font-size: clamp(.9em, 2.5vw + 1rem, 1em);
}

.post-header-details>p:nth-child(2) {
     font-size: clamp(.7em, 2.5vw + 1rem, .7em);
}

.post-header-details>p:nth-child(3) {
     font-size: clamp(.6em, 2.5vw + 1rem, .7em);
}


.post-options-menu {
     display: flex;
     align-items: center;
     position: relative;
}


.hamberger-menu {
     gap: 5px;
     display: grid;
     cursor: pointer;
     align-self: center;
     background: #cdc7c7;
     border-radius: 5px;
     justify-content: center;
     padding: 4px 2px !important;
     font-size: clamp(1.2em, 2.5vw + 1rem, 1.5em);
}

.hamberger-menu>p {
     width: .25em;
     height: .25em;
     border-radius: 50%;
     background: #343434;
}

.post-options-list {
     padding: 10px;
     top: 80%;
     right: -8px;
     opacity: 0;
     z-index: 1;
     visibility: hidden;
     position: absolute;
}

.post-options-list ul {
     width: 130px;
     background: #fff;
     border-radius: 3px;
     border: 1px solid grey;
     margin-left: 0 !important;
}

.post-options-list li:not(.edit-btn) {
     padding: .5em;
     cursor: pointer;
     padding-left: .75em;
}

.post-options-list li:not(:first-child) {
     border-top: 1px solid rgb(214, 214, 214);
}

.post-options-list li:hover {
     color: white;
     background: #aaa;
}


.post-options-menu:hover .post-options-list {
     opacity: 1;
     visibility: visible;
}



/* *Description */

.post-content-description {
     --max-lines: 4;
     overflow: hidden;
     position: relative;
     --line-height: 1.4;
     line-height: var(--line-height);
     max-height: calc(var(--line-height) * 1em * var(--max-lines));
}


.post-content-title {
     font-size: clamp(1em, 2.5vw + 1rem, 1.2em);
}

.post-content-message {
     font-size: clamp(.8em, 2.5vw + 1rem, .9em);
}

.post-content-image {
     padding-top: 5px;
     width: 100%;
     height: 100%;
}

.post-content-image img {
     width: 100%;
     max-height: 500px;
     object-position: center;
     object-fit: contain;
}


.post-description {
     --max-line: 4;
     --line-height: 1.4;
     margin-top: 5px;
     overflow: hidden;
     position: relative;
     line-height: var(--line-height);
     color: var(--primary-text-color);
     font-size: var(--primary-font);
     max-height: calc(var(--line-height) * 1em * var(--max-line));
}

.post-content-description>p {
     text-align: justify;
}

.expand-btn {
     right: 0;
     bottom: 2px;
     position: absolute;
     background: white;

}

.expand-btn::before {
     left: -15px;
     content: "";
     width: 1rem;
     height: 100%;
     position: absolute;
     background: linear-gradient(to right, transparent, var(--light-background-color));
}

[data-expand-btn] {
     cursor: pointer;
     appearance: none;
     font-weight: 600;
     background: white;
}

[data-expand-btn='true']:hover {
     color: black;
     text-decoration: underline;
}

[data-expand-btn='true']:not(:checked):before {
     content: "...Show more";
}

[data-expand-btn='true']:checked::after {
     content: "Show less";
}

.post-content-description:has(.expand-btn [data-expand-btn='true']:checked) {
     max-height: none;
     padding-bottom: 1em;
}

.post-footer div {
     cursor: pointer;
     font-weight: 600;
}

.post-footer>div>p:first-child {
     font-size: 1.5em;
}

.post-footer div:hover {
     background: #efe9e9;
     border-radius: 5px;
}