*, *::after, *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

body {

     background-color: #fff;
}

.spinner {
     width: 200px;
     height: 200px;
     display: flex;
     font-size: 2em;
     overflow: hidden;
     position: relative;
     align-items: center;
     justify-content: center;
     isolation: isolate;
}

.spinner-sector {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     position: absolute;
     pointer-events: none;
     border: 12px solid transparent;
     animation: rotate var(--duration) var(--timing) infinite;
     mix-blend-mode: screen;
}


.spinner-sector-red {
     --duration: 1.5s;
     --timing: ease-in-out;
     border-top-color: tomato;
}

.spinner-sector-blue {
     --duration: 2s;
     --timing: ease-in-out;
     border-left-color: lightblue;
}

.spinner-sector-green {
     --duration: 2.5s;
     --timing: ease-in-out;
     border-right-color: lightgreen;
}

/* .spinner-sector-yellow {
     --duration: 3s;
     --timing: ease-in-out;
     border-right-color: yellow;
} */


@keyframes rotate {
     0% {
          transform: rotate(0);
     }

     100% {
          transform: rotate(360deg);
     }

}